/*CABECERA*/
header{
	position: relative;
	background-color: #111111;
	padding-top: 90px;
	width: 100%;
}

#logo_cabecera{
	height: 70px;
	width: 225px;
	position: absolute;
	top: 11px;
}

/*PIE DE PAGINA*/
footer{
	background-color: #111111;
	width: 100%;
	padding: 30px;
	position: relative;
}

#footer_registro{
	background-color: #111111;
	position: fixed;
	width: 100%;
	padding: 30px;
	bottom: 0px;
}

#footer_productos{
	background-color: #111111;
	position: fixed;
	width: 100%;
	padding: 30px;
	bottom: 0px;
}

#logo_pie{
	height: 50px;
	width: 150px;
	position: absolute;
	bottom: 20px;
	left: 0px;
	opacity: 0.5;
}

#copy{
	font-family: Impact;
	color: #FFFFFF;
	opacity: 0.5;
	text-align: center;
}

#info{
	font-family: Impact;
	position: absolute;
	right: 2px;
	text-decoration: none;
	opacity: 0.5;
}

/*BARRA DE OPCIONES*/
ul {
	/*Le quita el punto a la lista*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

/*Inicio de sesion y Registro*/
.li_derecha {
  float: right;
}

.li_izquierda {
  float: left;
}

.a_derecha {
  display: block;
  color: #FFFFFF;
  padding: 14px;
  text-decoration: none;
  text-transform:uppercase;
  font-family: 'valorant.ttf';
}

.a_izquierda {
  display: block;
  color: #FFFFFF;
  padding: 14px;
  text-decoration: none;
  text-transform:uppercase;
  font-family: 'valorant.ttf';
}

li a:hover {
  background-color: #111111;
}

/*FUENTE*/
@font-face{
	font-family: 'valorant.ttf';
	src: url(valorant.ttf) format("truetype");
}

/*CUERPO*/

main{
	margin-left: 10%;
	margin-right: 10%; 
}

body{
	background-color: #1D1D1D;
	width: 100%;
	margin: 0px;

}

#imagen_portada{
	position: relative;
	width: 100%;
	height: 600px;
	display: block;
}

#portada{
	background-image: url("Imagenes/ilustracion.png");
	height:450px; 
	width:100%;
	background-size: 100%;
	padding-top: 25px;
}

/*-----------------*/
#portada_h2h2{
	text-align: center;
	color: #FFFFFF; 
}

#portada_h2{
	margin-top: 100px;
	font-family: 'valorant.ttf';
	text-align: justify;
	color: #FFFFFF; 

}

.portada_p{
	margin-top: 30px;
	font-family: 'valorant.ttf';
}

.titulo{
	position: relative;
	font-family: Impact;
	color: #FFFFFF;
	background-color: #2FC78C;
	opacity: 0.6;
	font-size: 20px;
	width: 100%;
	padding: 30px;
}
/*INTRODUCCION*/

#introduccion{
	background-color: #1D1D1D;
	padding: 14px;
	top: -5px;
	position: relative;
	padding-bottom: 30px;
}

#titulo_introduccion{
	font-family: 'valorant.ttf';
	color: #FFFFFF;
	text-align: center;
	font-size: 23px;
}

.p_novedades{
	font-family: Impact;
	color: #FFFFFF;
	text-align: center;
	font-size: 21px;
}

/*SECCION 1*/
#sec1{
	background-color: #1D1D1D;
}

#d_sec1{

	position: relative;
}

#p_sec1{
	text-align: center;
	position: relative;
}


/*SECCION 2*/

#sec2{
	background-color: #1D1D1D;
	position: relative;
}


/*SECCION 3*/

#sec3{
	background-color: #1D1D1D;

}


#grafica{
	width: 270px;
	height: 135px;
	float: left;
	margin-right: 85px;
	margin-top: 70px;
}

#ryzen5{
	position: relative;
	width: 350px;
	height: 185px;
	left: -85px;
	float: left;
	margin-top: 40px;
}

#pantalla{
	width: 220px;
	height: 150px;
	left: -15px;
	float: left;
	margin-right: 127px;
	margin-top: 65px;
}

#placa_base{
	width: 220px;
	height: 190px;
	left: -15px;
	float: left;
	margin-right: 127px;
}

/*BOTON DE LAS SECCIONES*/

.botonver {
  background-color: #43C248;
  color: white;
  padding: 16px 20px;
  margin: 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  width: 30%;
  text-shadow: 2px 2px 4px #333333;
}


/*TEXTO DE SECCIONES*/
.p_seccion{
	font-family: Impact;
	color: #FFFFFF;
	text-align: justify;
	margin: 70px;

}

#portada_pp{
	position: absolute;
	color: #FFFFFF;
}

/*EL LOGIN*/

* {
	box-sizing: border-box;
}

.contenedor_formulario {
  padding: 16px;
  font-family: "Segoe UI";
  color: #D8D8D8;

}

/*Tanto para la contraseña como el email*/
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #F1F1F1;
}

/*Cuando se le da click*/
input[type=text]:focus, input[type=password]:focus {
  background-color: #BABABA;
  outline: none;
}


/* Cambio el boton de registro */
.botonderegistro {
  background-color: #43C248;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-shadow: 2px 2px 4px #333333;
}

.botonderegistro:hover {
  opacity:1;
}

/*Le pongo los enlaces de color azul y quito las decoraciones*/
div > a  {
  color: #F6F6F6;
  text-decoration: none;
}

/* Set a grey background color and center the text of the "sign in" section */
.iniciarsesion {
  background-color: #707070;
  text-align: center;
  font-family: Impact; 
  opacity: 0.4;
}

/*FORMULARIOS*/
#form{
	background-color: #2D2D2D;
}
/*NOTICIAS*/
#noticias{
	font-family: 'valorant.ttf';
	color: #D1D1D1;
}

.botonnoticia {
  background-color: #3BD5AF;
  color: white;
  padding: 16px 20px;
  margin: 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  width: 20%;
  text-shadow: 2px 2px 4px #333333;

}
.limpiar {
  background-color: #FF4761;
  color: white;
  padding: 16px 20px;
  margin: 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  width: 100%;
  text-shadow: 2px 2px 4px #333333;
}

#productos{
 	display: flex;
}

/*FILA 1*/
.prod{
	background-color: #474747;
	width: 25%;
	height: 25%;
	margin: 30px;
	font-family: "Segoe UI";
}

a > h2{
	background-color: #2BD127;
	text-align: center;
}

#ryzen5vender{
	height: 150px; 
	width: 250px;
	position: relative;
	left: -25px;
}

#ryzen7vender{
	height: 150px; 
	width: 290px;
	position: relative;
	left: -45px;
}

#ryzen9vender{
	height: 150px; 
	width: 250px;
	position: relative;
	left: -25px;
}

.info{
	text-align: center;
	color: #E7E7E7;
}

.prod{
	background-color: #474747;
	width: 25%;
	height: 25%;
	margin: 30px;
	font-family: "Segoe UI";
}