header{
	position: relative;
	top: 0px;
	background-color: #FF3B4D;
	/*padding:25px;*/
	padding-top: 10px;
	padding-bottom: 0.02px; 
	font-size: 26px;
}

footer{
	background-color: #F4F4F4;
	position: absolute;
	bottom: 0px;
	width: 100%;

}

body{
	/*background-image: url("Imagenes/fondo1.jpg");*/
	background-color: #39FFAD;
	width: 100%;
	margin:0;
}

/*--------------------------------------------------------*/
a
{
	position: inherit;
	width:100%;
	display: inline;
	color:#FFFFFF;
	background-color:#282828;
	padding:20px;
	text-transform:uppercase;
	font-family: fantasy;
}
a:hover,a:active
{
	background-color:#989898;
}

/*FUENTE*/
@font-face{
	font-family: 'valorant.ttf';
	src: url(valorant.ttf) format("truetype");
}