header{
	position: relative;
	top: 0px;
	background-color: #F4F4F4;
}

main{


}

footer{
	background-color: #F4F4F4;
	position: absolute;
	bottom: 0px; 
}

body{
	background-image: url("fondo1.jpg");
	width: 100%;
	margin:0;
}

/*--------------------------------------------------------*/
aside{
	background-color: #7E7E7E;
	opacity: 0.5;
	text-align:center;
}

ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;

}

li
{
	/*float:left;*/
}

a
{
	display:block;
	width:100%;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#282828;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
a:hover,a:active
{
	background-color:#989898;
}

